.App {
    background: #FFFFFF url('https://images.even3.com.br/8u1aOhRNf2DkPTwXZLabkpNs42k=/1300x536/smart/even3.blob.core.windows.net/banner/Capture.7bded352d345410c937c.PNG');
    height: 1000px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-paper {
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 3px 3px -2px rgb(0 0 0 / 12%);
    padding: 16px;
    background-color: rgba(240, 248, 255, 0.89);
    border-radius: 5px;
    width: 500px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .App-paper {
        box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 3px 3px -2px rgb(0 0 0 / 12%);
        padding: 16px;
        background-color: rgba(240, 248, 255, 0.89);
        border-radius: 5px;
        width: 300px;
    }
}

.App-title {
    text-align: center;
}

.App-input {
    box-shadow: none;
    width: 100%;
    background: none;
    box-sizing: content-box;
    border: 0;
    outline: none;
    font-size: 18px;
}

.Input-wrapper {
    border-radius: 5px;
    margin-top: 20px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-button {
    background-color: #66A343;
    color: #fff;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    width: 100%;
    border: none;
}

button:hover {
    background-color: #1d3b0c;
    cursor: pointer;
}

.App-success {
    color: #66A343;
    font-weight: 500;
}

.App-wrapper-success {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-icon {
    width: 50px;
    height: 50px;
    color: #66A343;
}

.App-error{
    color: red;
    font-size: 13px;
}